<?xml version="1.0"?>

<configuration>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FlexServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="FlexServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://strawberry.mainticket.co.kr/C2Soft.Earth.Web.Service/FlexService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FlexServiceSoap"
                contract="ServiceReference1.FlexServiceSoap" name="FlexServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>